main {
  transition: filter 0.6s ease-in-out;
}
main.blurred {
  filter: blur(10px); 
}

.homepage-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-top: 15px;
}
.homepage-trail {
  text-align: start;
  font-size: 0.7em;
}
.homepage-lead {
  text-align: end;
  font-family: var(--font-gilroy-regular);
  font-size: 0.7em;
  color: var(--subtext-color);
}
.bottom-pad {
  padding-bottom: 20px;
}
.paragraph-text {
  font-family: var(--font-gilroy-regular);
  font-size: 0.7em;
  color: var(--subtext-color);
  width: 250px;
  text-align: center;
}
.auth-content-wrapper-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.auth-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chapter-information-metadata {
  font-size: 10px;
  color: var(--subtext-color);
  padding-top: 10px;
}

.chapter-information-container-chapter-number {
  font-size: 12px;
  color: var(--subtext-color);
}

.chapter-information-container-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}

.chapter-information-container {
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.pipeline-information-container-subtitle {
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 8px;
  color: var(--subtext-color);
}

.pipeline-information-container-title {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
}

.information-container {
  border: 0.7px solid var(--gray);
  border-radius: 6px;
  width: 350px;
}

.information-container-header-title {
  padding-left: 15px;
  font-size: 10px;
}

.information-container-header {
  display: flex;
  height: 30px;
  flex-direction: row;
  align-items: center;
  background-color: var(--info-container-header);
  border-bottom: 0.7px solid var(--gray);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 0.6px solid var(--gray);
}

.elements {
  padding-inline: 30px;
  padding-block: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: flex-start;
}

.general-card{
  width: 350px;
  height: 80px;
  border-radius: 13px;
  background-color: #111111; 
  border: 1px solid #3B3F44; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.course-image {
  width: 54px;           
  height: 54px;         
  border-radius: 6px;   
}

.footer {
  top: 977px;
  border-top: 0.7px solid var(--gray);
}

.small-image{
position: relative;
width: 36.3px;
/* height: 20px; */
left: 47px;
padding-top: 52px;
}

.footer-subtext{
position: relative;
width: 195px;
height: 40px;
left: 47px;
padding-top: 13px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}

.subtext{
  color: var(--subtext-color);
}

.copyright {
  position: relative;
  width: 250px;
  height: 20px;
  left: 47px;
  padding-top: 49px;
  padding-bottom: 71px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
}

.auth-main-text{
position: absolute;
width: 255px;
height: 20px;
left: 44.28vw;
top: 418px;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
white-space: nowrap;
}

.custom-otp-input {
  width: 51px;
  height: 51px;
  left: -24px;
}

.auth-sub-text{
position: relative;
width: 255px;
height: 32px;
padding-top: 9px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
color: rgba(255, 255, 255, 0.6);
white-space: normal;
left: 18px;
}

.home-page-link{
position: relative;
width: 255px;
height: 16px;
/* left: 40.07vw; */
left: 18px;
padding-top: 21px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
color: rgba(255, 255, 255, 0.6);


}
.top {
  width: 100%;
}

.bottom {
  margin-top: auto;
  width: 100%;
}

.report-button {
  display: flex;
  gap: 1vh;
  padding-block: 1vh;
}

.courseTitle {
  display: flex;
  vertical-align: middle;
  gap: 1vh;
}

.courseTitle-ellipse {
  width: 5%;
}
.headers {
  padding-bottom: 10px;
}

.card {
  margin-bottom: 3vh;
}

.input-field {
  color: var(--gray);
}

.gray-text {
  color: var(--gray);
}