
.flex-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-panels {
  display: flex;
  height: 100%;
}


.left-flex-panel {
  width: 31%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0a0a0a;
}
.left-panel-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 0.6px solid var(--gray);
}
.header-elements {
  padding-inline: 30px;
  padding-block: 20px;
  box-sizing: border-box;
}


.information-container-header {
  display: flex;
  height: 30px;
  flex-direction: row;
  align-items: center;
  background-color: var(--info-container-header);
  border-bottom: 0.7px solid var(--gray);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.information-container-header-text {
  padding-left: 15px;
  font-size: 10px;
}
.information-container {
  border: 0.7px solid var(--gray);
  border-radius: 6px;
  width: 350px;
}

.pipeline-content-margins {
  padding-left: 15px;
}
.pipeline-content-subtitle {
  padding-bottom: 15px;
  font-size: 8px;
  color: var(--subtext-color);
}
.pipeline-content-title {
  padding-top: 10px;
  font-size: 13px;
}

.chapter-information-content {
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.chapter-information-content-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
}
.chapter-information-content-chapter-number {
  font-size: 13px;
  color: var(--subtext-color);
}
.chapter-information-metadata {
  font-size: 9px;
  color: var(--subtext-color);
  padding-top: 10px;
}


.media-container {
  width: 350px;
  border: 0.7px solid var(--gray); 
  border-radius: 13px;
  background-color: var(--info-container-header); 
}
.media-content {
  padding-inline: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.media-image {
  width: 45px;           
  height: 45px;  
  object-fit: cover;       
  border-radius: 6px;   
}
.media-subtext {
  color: var(--subtext-color);
  font-size: 8px
}
.media-title-text {
  font-size: 13px
}
.media-text-block {
  padding-left: 10px;
}


.presentation-manager-nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.button-icon {
  border: 0.7px solid var(--gray);
}


.page-change-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px; 
  margin-top: 20px; 
}


.page-change-buttons {
  position: absolute;
  bottom: 59px;
  display: flex;
  gap: 10px;
}

.page-button {
  background-color: #0a0a0a;
  border: 1px solid #363636;
  border-radius: 6px;
  width: 33px;
  height: 33px;
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-change-button:hover {
  background-color: #070707; 
}


.triangle-right {
  transform: rotate(180deg);
}

.flex-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.right-flex-panel {
  width: 69%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}
